* {
    box-sizing: border-box;
}

body, html {
    margin: none;
    padding: none;
    border: none;
    width: 100%;
    background-image: url(./images/cellar_door.jpg);
    background-repeat: no-repeat;
}